<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="sidebar-brand">
      IMS<span>RECRUIT</span>
    </a>
    <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
      <li class="nav-item nav-category">Home</li>
      <li class="nav-item">
        <a href="/home" class="nav-link">
          <i class="link-icon" data-feather="box"></i>
          <span class="link-title">Home</span>
        </a>
      </li>
      <!-- Candidate -->

      <li class="nav-item nav-category">Candidate</li>
      <li class="nav-item active">
        <a class="nav-link" data-bs-toggle="collapse" href="#candidates" role="button"
           aria-expanded="false" aria-controls="candidates">
          <i class="link-icon" data-feather="users"></i>
          <span class="link-title">Candidate</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse show" id="candidates">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/Candidate/candidateList" class="nav-link active">Candidate
                List</a>
            </li>
            <th:block sec:authorize="hasAnyAuthority('Recruiter', 'Manager')">
              <li class="nav-item">
                <a href="/Candidate/CreateCandidate" class="nav-link">Create
                  Candidate</a>
              </li>
            </th:block>
          </ul>
        </div>
      </li>
      <!-- Job -->
      <li class="nav-item nav-category">Job</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#jobs" role="button"
           aria-expanded="false"
           aria-controls="candidates">
          <i class="link-icon" data-feather="briefcase"></i>
          <span class="link-title">Job</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="jobs">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/Job/jobList" class="nav-link">Job List</a>
            </li>

            <th:block sec:authorize="hasAnyAuthority('Recruiter', 'Manager')">
              <li class="nav-item">
                <a href="/Job/createJob" class="nav-link">Create Job</a>
              </li>
            </th:block>
          </ul>
        </div>
      </li>
      <!-- Interview -->
      <li class="nav-item nav-category">Interview</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#interview" role="button"
           aria-expanded="false" aria-controls="candidates">
          <i class="link-icon" data-feather="calendar"></i>
          <span class="link-title">Interview</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="interview">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/Interview/interviewList" class="nav-link">Inteview
                List</a>
            </li>
            <li class="nav-item">
              <a href="/Interview/createInterview" class="nav-link">Create
                Interview</a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Offer -->
      <li class="nav-item nav-category">Offer</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#offer" role="button"
           aria-expanded="false"
           aria-controls="candidates">
          <i class="link-icon" data-feather="calendar"></i>
          <span class="link-title">Offer</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="offer">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/offer/view" class="nav-link">Offer List</a>
            </li>

            <th:block sec:authorize="hasAnyAuthority('Recruiter', 'Manager')">
              <li class="nav-item">
                <a href="/offer/create" class="nav-link">Create Offer</a>
              </li>
            </th:block>
          </ul>
        </div>
      </li>
      <th:block sec:authorize="hasAuthority('Manager')">
        <!-- User -->
        <li class="nav-item nav-category">User</li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#user" role="button"
             aria-expanded="false"
             aria-controls="user">
            <i class="link-icon" data-feather="calendar"></i>
            <span class="link-title">User</span>
            <i class="link-arrow" data-feather="chevron-down"></i>
          </a>
          <div class="collapse" id="user">
            <ul class="nav sub-menu">
              <li class="nav-item">
                <a href="/User/userList" class="nav-link">User List</a>
              </li>
              <li class="nav-item">
                <a href="/User/createUser" class="nav-link">Create User</a>
              </li>
            </ul>
          </div>
        </li>
      </th:block>
    </ul>
  </div>
</nav>